body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.7em;
  color: #353e55;
  font-weight: 100;
  background: #ffffff;
  border: 10px solid #fff;
}

/* --------------------------------------
 * Global Typography
 *------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #0e1555;
}

h1 {
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  line-height: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
}

h6 {
  font-size: 15px;
  line-height: 24px;
}

/* --------------------------------------
 * LINK STYLE
 *------------------------------------------*/
a {
  color: #fd367e;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #999999;
}

p {
  margin-bottom: 20px;
}

p.lead {
  font-size: 19px;
  line-height: 1.7em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Button Style*/
.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 16px;
  border-radius: 0;
  font-weight: 500;
  border-width: 2px;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 18px;
  padding: 15px 30px;
}

/*btn-primary*/
.btn-primary {
  background-color: #fd367e;
  border-color: #fd367e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
  background: transparent;
  color: #fd367e;
  border-color: #fd367e;
}

/*btn-default*/
.btn-default {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus {
  background-color: transparent;
  color: #fd367e;
  border-color: #fd367e;
}

button:focus,
.btn:focus,
.btn:active:focus {
  outline: none;
}

/* --------------------
 * Section Background
 * -------------------*/

.gray-bg {
  background-color: #f0f1f3;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.white-bg {
  background-color: #ffffff;
}

/* --------------------
 *  main Wrapper
 * -------------------*/
#main-wrapper {
  background: #ffffff;
  overflow: hidden;
}

/*-----------------------------
 * NAVIGATION & HEADER STYLE
 *-------------------------------*/

.header {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 40px;
  z-index: 9;
}

/*Logo*/
.navbar-brand {
  padding: 0;
  height: auto;
  margin: 5px 0 !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 200px;
  }

  .navbar-brand img {
    max-width: 100%;
    height: auto;
  }
}

/*navbar*/

.navbar {
  border-radius: 0;
  padding: 30px 0;
  background: transparent;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
}

/*navbar toggle*/
.navbar-toggle {
  margin: 5px 0;
  padding: 11px 10px;
  background: transparent;
}

.navbar-toggle:hover {
  color: #fff;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

/*Navigation Style*/

.main-menu .navbar-right {
  margin-right: -15px;
}

.main-menu .nav li a {
  color: #ffffff;
  font-weight: 500;
  padding: 15px 0 15px 30px;
}

.main-menu .nav li a:hover,
.main-menu .nav li.active a {
  color: #fd367e;
  background: transparent;
}

.main-menu .nav li a:focus {
  background: transparent;
}

@media (max-width: 991px) {
  .main-menu .nav li a {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .main-menu .nav li {
    text-align: center;
  }

  .main-menu .nav li a {
    padding: 5px 0;
    color: #0e1555;
  }

  .navbar-collapse {
    margin-top: 10px;
    background: #fff;
  }
}

/* Sticky Menu */
.sticky-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background: #ffffff !important;
  padding: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sticky-nav .nav li a {
  color: #0e1555;
}

.sticky-nav .navbar-toggle .icon-bar {
  background: #333;
}

@media (max-width: 768px) {
  .sticky-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*-------------------
 * Jumbotron
 *-------------------*/

.jumbotron {
  background-image: linear-gradient(
      to bottom,
      rgba(54, 209, 220, 0.574),
      rgba(91, 135, 229, 0.571)
    ),
    url("../img/india-gate.jpg");
  opacity: 0.8;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 700px;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);
}

@media (width: 768px) {
  .jumbotron {
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }
}

.jumbotron .content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 30%;
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
  font-weight: 400;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.jumbotron .content h1 {
  color: #fff;
  font-weight: bold;
}

.jumbotron .content h3 {
  color: #fff;
  font-weight: bold;
}

.jumbotron .content p.lead {
  font-size: 24px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.1);
}

.jumbotron .content .event-date {
  font-size: 24px;
  margin-bottom: 40px;
}

.jumbotron .btn {
  margin-top: 40px;
}

@media (max-width: 600px) {
  .jumbotron .content {
    min-height: auto;
  }

  .jumbotron .content h1 {
    font-size: 26px;
  }

  .jumbotron .content p.lead {
    font-size: 15px;
  }
}

/*---------------------------
 * Section Wrapper
 *---------------------------*/
.section-wrapper {
  padding: 100px 0;
}

/*---------------------------
 * Section Title
 *---------------------------*/

.section-title {
  margin-bottom: 30px;
  text-align: center;
}

.section-title h1 {
  margin-bottom: 35px;
}

.section-title p {
  font-size: 18px;
  color: #888888;
}

/* ----------------------------------------------
 * About Event
 *-----------------------------------------------*/
.about-event .lead {
  font-size: 19px;
  line-height: 1.7em;
}

.about-event address {
  font-size: 15px;
  color: #888888;
  line-height: 1.8em;
}

.about-event address strong {
  color: #353e55;
}

/* ----------------------------------------------
 * Team Section
 *-----------------------------------------------*/

.team {
  color: #000;
  font-weight: 300;
  background: #f8f9fa;
}

.team .thumbnail {
  padding: 0;
  line-height: 22px;
  background-color: transparent;
  border: 0;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .team .thumbnail {
    margin-bottom: 30px;
  }
}

.team .thumbnail img {
  width: 100%;
}

.team .thumbnail .caption {
  padding: 10px;
}

.team .thumbnail h3 {
  font-size: 16px;
  font-weight: bold;

  margin: 0 40px;
  text-transform: uppercase;
  padding: 10px 0;
}

.team .thumbnail h3 small {
  font-size: 14px;
  color: #888;
  display: block;
  font-weight: normal;
}

.team .social-links li {
  display: inline-block;
  margin-right: 3px;
}

.team .social-links li:last-child {
  margin-right: 0;
}

.team .social-links li a {
  display: block;
  font-size: 14px;
  color: #ccc;
  padding: 0 5px;
}

.team .social-links li a:hover {
  color: #333;
}

#section-call {
  background-color: #fff;
}

/* -------------------------
 * Call for Speakers
 * -------------------------*/

.important-dates {
  text-align: center;
  margin-bottom: 45px;
  margin-top: 40px;
}

.main-timeline-section {
  position: relative;
  width: 100%;
  margin: auto;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end {
  background: #0093d1;
  border-radius: 100px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
.main-timeline-section .conference-center-line {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #0093d1;
}
.timeline-article {
  width: 100%;
  position: relative;
  margin: 40px 0px;
  min-height: 135px;
  z-index: 0;
}
.timeline-article .content-date {
  position: absolute;
  top: 33%;
  left: 50%;
  font-size: 18px;
  margin-left: -150px;
  transform: translateY(50%);
}
.timeline-article .meta-date {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  margin-left: -11px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #0093d1;
}
.timeline-article .content-box {
  position: absolute;
  box-shadow: 2px 2px 4px 0px #c1c1c1;
  border: 1px solid #0093d1;
  border-radius: 5px;
  background-color: #fff;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  left: 50%;
  margin-left: 50px;
}
.content-left-container .content-box {
  left: 5%;
  margin-left: 0px;
}
.content-left-container .content-date {
  margin-left: 50px;
}
.content-right-container .content-box:before {
  content: " ";
  position: absolute;
  left: -10px;
  top: 40%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-right-color: #0093d1;
  display: block;
}
.content-left-container .content-box:before {
  content: " ";
  position: absolute;
  top: 40%;
  right: -30px;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-left-color: #0093d1;
}

@media (max-width: 460px) {
  .timeline-article.content-left-container .content-box {
    left: -10px;
  }
  .timeline-article .content-box p {
    height: 100px;
    overflow: hidden;
  }
}

/* -------------------------
 * Registration fees
 * -------------------------*/

.fees {
  color: #000;
  font-weight: 300;
  background: #f8f9fa;
}

/* -------------------------
 * About
 * -------------------------*/

.about {
  background-color: #fff;
}

/* -------------------------
 * Venue
 * -------------------------*/
.venue {
  color: #000;
  font-weight: 300;
  background: #f8f9fa;
}

.venue address {
  font-size: 15px;
  color: #888888;
  line-height: 1.8em;
}

.venue address strong {
  color: #353e55;
}

.map{
  margin-bottom: 20px;
  padding: 0;
}

/* --------------------------------------------
 *   Footer
 *---------------------------------------------- */

/* Copyright */

.footer .copyright-section {
  font-size: 13px;
  color: #888888;
  padding: 30px 0;
}

.footer .copyright-section .copytext {
  font-weight: 400;
  display: block;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */
#preloader {
  background: #ffffff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#status,
.status-mes {
  background-image: url(../img/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.status-mes {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%;
}
